.section-do-banner {
    background-image: url(https://f.i.uol.com.br/fotografia/2019/08/08/15652771835d4c3bfff0266_1565277183_3x2_rt.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 630px;
}
