.section-do-banner {
    background-image: url(https://images4.alphacoders.com/197/thumb-1920-197284.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 630px;
}