.section-banner {
    position: relative;
    background-image: url(https://wallpaperaccess.com/full/667769.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;

    button {
        position: absolute;
        border-radius: 10px;
        background-color: black;
        color: white;
        height: 45px;
        border: none;
        width: 300px;
        top: 75%;
        left: 45%;
        right: 4%;
        cursor: pointer;

        a {
            color: white;
            text-decoration: none;
        }
    }

    
}