$cor1: #2EBD59;
$cor2: #191414;
$cor3: #FFFFFF;

@mixin FlexCenter () {
    display: flex;
    justify-content: center;
    align-items: center;
}
html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
}

header {
    display: flex;
    background-color: $cor2;
    height: 100px;
    align-items: center;
    justify-content: space-between;

    span {
        display: none;
    }

    nav {
        width: 30%;
    }
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style-type: none;
    }
    a {
        color: $cor3;
        text-decoration: none;
    }
    .logo-spotify {
        height: 70px;
        padding-left: 20px;
    }
    a:hover {
        color: #1ED760;
        text-decoration: underline;
    }
}

